---
import MainLayout from "../../layouts/main.astro";
---

<MainLayout content={{ title: "About" }}>
  <div class="page-container">
    <section class="about-heading">
      <div class="section-inner">
        <div>
          <h1>About The Red Cow</h1>
          <p>The Red Cow is a 15th Century Coaching Inn, located in the beautiful historic town of Nantwich in the heart of Cheshire. The wattle and daub walls, beamed ceilings, wood burning stove all contribute to the unique & warm atmosphere of this treasured pub. We have four lovely B&B rooms, and unique function room space.</p>
          <p>We, Dax & Suzi Gee, took over the pub in January 2021, with the vision & passion to create a wonderful & welcoming atmosphere for all guests. We take great pride in our exceptional tasting food, using the best produce, served by passionate staff.</p>
          <p>We both have a wealth of experience in our beloved hospitality industry. Dax being a very skilled & passionate chef, along with characteristic hosting skills, with Suzi's expertise focused on the customer experience, the service & overall guest satisfaction. We are (hopefully) fondly remembered in the local area for our restaurant, Gee's Kitchen, located in Sandbach from 2011 to 2016.</p>
          <p>However over recent years, we've been living in Altrincham, whilst working in various establishments across Manchester City Centre, Altrincham, Lymm & Knutsford. One of Dax's proudest achievements was maintaining a 2AA rosette award in 2018.</p>
          <p>We were both born & raised in Nantwich and with our first baby on the way, we felt drawn back to our hometown. Luckily finding the Red Cow available for lease, not so lucky, was being in the mist of a global pandemic. However the pull of this wonderful opportunity to show case our passion for hospitality, exceptional food and creating an excellent atmosphere was too strong to us to dismiss.</p>
          <p>We are very fortunate that we have the amazing support of our family, friends & the local community to help on this mission. We have always been incredibly passionate about supporting local businesses & the local community, even before the global pandemic. So expect to see lots of collaborations, promotions, and general love for the local area, events & businesses.</p>
        </div>
      </div>
    </section>
  </div>