---
import MainLayout from "../../layouts/main.astro";
import { pageMetadata, aboutContent } from "@/assets/redcow/content/data";
---

<MainLayout content={pageMetadata.about}>
  <div class="page-container">
    <section class="about-heading">
      <div class="section-inner">
        <div>
          <h1>{aboutContent.heading}</h1>
          {aboutContent.paragraphs.map(paragraph => (
            <p>{paragraph}</p>
          ))}
        </div>
      </div>
    </section>
  </div>