@media screen and (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}

.mobile-nav-transparent {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.mobile-nav-transparent .mobile-nav-logo, .mobile-nav-transparent .mobile-menu-toggle {
  color: var(--background)
}

.mobile-nav-open {
  background-color: var(--background);
}

.mobile-nav-header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-nav-logo {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.mobile-nav-logo:hover {
  color: var(--primary);
}

.mobile-menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--foreground);
  border-radius: var(--radius);
  padding: 0.25rem;
}

.mobile-menu-toggle:hover {
  background-color: var(--background-dark);
}

.mobile-nav-content {
  background-color: var(--background);
  position: fixed;
  z-index: 10;
  width: 100%;
  height: calc(100% - 68px);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.mobile-nav-list {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.mobile-nav-footer {
  background-color: var(--background-dark);
  padding: 1rem;
}

.mobile-nav-footer-top {
  display: flex;
  gap: 1rem
}

.mobile-nav-footer-bottom {
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: 0.9rem;
  text-align: center;
}

.mobile-nav-footer-bottom a {
  color: var(--primary);
  border-bottom: 1px solid var(--primary);
}

.mobile-nav-item a {
  display: block;
  padding: 0.5rem 0 0.75rem 0;
  margin: 0 1rem;
  border-bottom: 1px solid var(--grey-lighter);
}

.mobile-nav-reservation-button {
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: max-content;
  font-size: 1.2rem;
}