---
import MainLayout from "../../layouts/main.astro";
import Map from "../../components/Map.astro";
---
<style>
  .contact-heading .section-inner {
    display: grid;
    gap: 2rem;
    
    h1 {
      width: fit-content;
      border-bottom: 2px solid var(--primary);
      margin-bottom: 2rem;
      color: var(--primary);
      font-weight: normal;
    }
  }

  @media screen and (min-width: 768px){
    .contact-heading .section-inner {
      grid-template-columns: 1fr 1fr;
    }
  }

  .address {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 4rem;
  }

  .telephone {
    margin-top: 3rem;
    font-size: 1.5rem;
    font-family: 'SecondaryFont';
    color: var(--grey-darker);
  }

  .tel-text {
    margin-top: 0px;
    color: var(--grey-darker);
  }

  .email {
    font-size: 1.5rem;
    color: var(--grey-darker);
    border-bottom: 1px solid var(--grey-darker);
  }

  @media screen and (min-width: 768px){
    .address {
      font-size: 4rem;
    }
    .telephone, .email {
      font-size: 2rem;
    }
  }

</style>

<MainLayout content={{ title: "Contact us" }}>
  <div class="page-container">
    <section class="contact-heading">
      <div class="section-inner">
        <div>
          <h1>Get in touch</h1>
          <p class="address">The Red Cow,<br /> 51 Beam Street,<br /> Nantwich<br /> <span style="font-weight: 600;">CW5 5NF</span></p>
          <a href="tel:01270618522" class="telephone">+44 (0)1270 618 522</a>
          <p class="tel-text">Our telephones are open inline with our normal opening hours.</p>
          <a href="mailto:info@redcownantwich.co.uk" class="email">info@redcownantwich.co.uk</a>
          <p>Car parking facilities are available next to the restaurant</p>
        </div>
        <div>
          <Map source="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2397.292096883859!2d-2.5223156841719816!3d53.069025979921875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487af466de17fa59%3A0xf7f6c29e33d95164!2sRed%20Cow!5e0!3m2!1sen!2suk!4v1643299285974!5m2!1sen!2suk" />
        </div>
      </div>
    </section>
  </div>