:root {
  --primary: oklch(0.5535 0.1295 34.83);
  --primary-light: oklch(0.6321 0.1194 34.74);
  --primary-lighter: oklch(0.6969 0.0945 35.29);
  --primary-lightest: oklch(0.7623 0.0711 34.24);
  --primary-dark: oklch(0.4989 0.1149 34.9);
  --primary-darker: oklch(0.4267 0.0949 34.98);
  --primary-darkest: oklch(0.3529 0.0751 34.88);

  --secondary: oklch(0.7511 0.0782 79.26);
  --secondary-light: oklch(0.8153 0.0588 79.76);
  --secondary-lighter: oklch(0.8675 0.0408 79.45);
  --secondary-lightest: oklch(0.9222 0.0251 81.12);
  --secondary-dark: oklch(0.7079 0.0911 78.31);
  --secondary-darker: oklch(0.6493 0.0977 77.5);
  --secondary-darkest: oklch(0.5683 0.0849 76.92);

  --grey-lightest: oklch(0.9738 0.0086 84.57);
  --grey-lighter: oklch(0.9130 0.0075 84.57);
  --grey-light: oklch(0.8520 0.0065 84.57);
  --grey: oklch(0.7910 0.0055 84.57);
  --grey-dark: oklch(0.7300 0.0048 84.57);
  --grey-darker: oklch(0.6400 0.0042 84.57);
  --grey-darkest: oklch(0.5500 0.0035 84.57);

  --background: oklch(0.9432 0.007 88.64);
  --background-dark: oklch(91.595% 0.01112 89.721);
  --foreground: oklch(0.13 0.028 261.692);
  --foreground-light: oklch(25.432% 0.07008 266.546);

  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
}


@font-face {
  font-family: 'PrimaryFont';
  src: url('../fonts/primary.ttf') format('truetype');
  font-weight: 100 1000;
  font-display: swap;
}

@font-face {
  font-family: 'SecondaryFont';
  src: url('../fonts/secondary.ttf') format('truetype');
  font-weight: 100 1000;
  font-display: swap;
}