---
import MainLayout from "../layouts/main.astro";

---
<style>
  h1 {
    font-size: 3rem;
  }
  a {
    margin: 0 auto;
  }
  .section-inner > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.75rem;
    padding: 4rem 0;
    text-align: center;
  }
  span {
    background-color: #E4E4E4;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    padding: 0 4px;
    width: max-content;
    margin: 0 auto;
  }
</style>
<MainLayout content={{ title: "Page not found" }}>
  <div class="page-container">
    <section class="404-page">
      <div class="section-inner">
        <div>
          <div>
            <h1>Page Not Found</h1>
            <p>Sorry! <span>{Astro.url.pathname}</span> does not exist.</p>
          </div>
          <a href="/" class="button-primary">Take me home</a>
        </div>
      </div>
    </section>
  </div>
</MainLayout>
