---
import HomeLayout from "../layouts/home.astro";
import FeatureImage from "../components/FeatureImage.astro";
import Separator from "../components/Separator.astro";
import AboutSection from "../components/AboutSection.astro";
import TwoImageSection from "../components/TwoImageSection.astro";
import OpeningHours from "../components/OpeningHours.astro";
import WelcomeQuoteSection from "../components/WelcomeQuoteSection.astro";
import CallToBook from "../components/CallToBook.astro";

---
<HomeLayout content={{ title: "Home" }}>
  <FeatureImage
    imageAlt="A placeholder feature image"
    headingText="The Red Cow"
  />
  <div>
    <CallToBook />
    <Separator />
    <WelcomeQuoteSection />
    <AboutSection />
    <TwoImageSection />
    <Separator />
    <OpeningHours />
  </div>
</HomeLayout>
