---
import MainLayout from "../layouts/main.astro";
import FeatureImage from "../components/FeatureImage.astro";
import Separator from "../components/Separator.astro";
---

<MainLayout content={{ title: "Home" }}>
  <FeatureImage
    imageSrc="https://placehold.co/1920x1080/4a5568/ffffff?text=Feature+Image"
    imageAlt="A placeholder feature image"
    headingText="The Red Cow"
  />
  <div class="px-4 py-8 max-w-4xl mx-auto">
    <section>
      <h2 class="text-2xl font-bold mt-8">About The Red Cow</h2>
      <p class="mt-4">
        The TheRed Cow is a stunning 16th Century Old coaching inn. We’re located in the historic town of Nantwich, where we serve delicious food, great ale, wine & cocktails from our dedicated and passionate team
      </p>
      <img
        src="https://placehold.co/1920x1080/4a5568/ffffff?text=Placeholder"
        alt="A placeholder feature image"
        class="mt-4"
        loading="eager"
        decoding="async"
      />
    </section>
    <Separator />
    <section class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <h3 class="text-2xl font-bold mt-8">Rooms</h3>
        <p class="mt-4">Staying at The Red Cow</p>
        <img
          src="https://placehold.co/1080x1080/4a5568/ffffff?text=Placeholder"
          alt="A placeholder feature image"
          class="mt-4"
          loading="eager"
          decoding="async"
        />
      </div>
      <div>
        <h3 class="text-2xl font-bold mt-8">Menu</h3>
        <p class="mt-4">Dining at The Red Cow</p>
        <img
          src="https://placehold.co/1080x1080/4a5568/ffffff?text=Placeholder"
          alt="A placeholder feature image"
          class="mt-4"
          loading="eager"
          decoding="async"
        />
      </div>
    </section>
  </div>
</MainLayout>
