---
import MainLayout from "../layouts/main.astro";
import FeatureImage from "../components/FeatureImage.astro";
import Separator from "../components/Separator.astro";
import AboutSection from "../components/AboutSection.astro";
import TwoImageSection from "../components/TwoImageSection.astro";
import OpeningHours from "../components/OpeningHours.astro";
import WelcomeQuoteSection from "../components/QuoteSection.astro";
import CallToBook from "../components/CallToBook.astro";

// FeatureImage Content
import featureImage from "../assets/redcow/images/home-feature-image.jpg";

const featureImageLinks = [
  { text: "View Menu", href: "/menu" },
  { text: "Book Room", href: "/rooms" }
];

// TwoImageSection Content
import imageOne from "../assets/redcow/images/home-two-image-section-1.jpg";
import imageTwo from "../assets/redcow/images/home-two-image-section-2.jpg";

const twoImageSectionCards = [
  {
    title: "Menu",
    description: "Our kitchen celebrates the best of local produce, crafting a menu that changes with the seasons. Expect freshly prepared dishes, traditional flavours, and a taste of the countryside with every bite.",
    image: imageOne,
    imageAlt: "Restaurant menu showcase",
    primaryButton: {
      text: "Book a table",
      href: "https://web.dojo.app/create_booking/vendor/_i5WYdjKa2QID8JUwfbYHRllSmUSt-BCNny3N3KVHJg_restaurant"
    },
    secondaryButton: {
      text: "View sample menus",
      href: "/menu"
    }
  },
  {
    title: "Rooms",
    description: "Make yourself at home in one of our inviting rooms. Whether you're here for a quiet break, a celebration, or simply passing through, our accommodation blends rustic charm with modern comforts for a restful night's sleep.",
    image: imageTwo,
    imageAlt: "Comfortable guest room",
    primaryButton: {
      text: "Book a Room",
      href: "/rooms#book"
    },
    secondaryButton: {
      text: "Find out more",
      href: "/rooms"
    }
  }
];

---
<MainLayout content={{ title: "Home" }} transparentNavigation={true}>
  <FeatureImage title="The Red Cow" image={featureImage} links={featureImageLinks} />
  <div>
    <CallToBook />
    <Separator />
    <WelcomeQuoteSection quote="Passionate about exceptional food, warm hospitality, and creating a welcoming space for all in the heart of Cheshire." />
    <AboutSection />
    <TwoImageSection cards={twoImageSectionCards} />
    <Separator />
    <OpeningHours />
  </div>
</MainLayout>
