---
import MainLayout from "../layouts/main.astro";
import FeatureImage from "../components/FeatureImage.astro";
import Separator from "../components/Separator.astro";
import AboutSection from "../components/AboutSection.astro";
import TwoImageSection from "../components/TwoImageSection.astro";
import WelcomeQuoteSection from "../components/QuoteSection.astro";
import ReservationsBanner from "../components/ReservationsBanner.astro";

// FeatureImage Content
import featureImage from "@brand/images/home-feature-image.jpg";

// TwoImageSection Content
import imageOne from "@brand/images/home-two-image-section-1.jpg";
import imageTwo from "@brand/images/home-two-image-section-2.jpg";

const twoImageSectionCards = [
  {
    title: "Menu",
    description: "Our kitchen celebrates the best of local produce, crafting a menu that changes with the seasons. Expect freshly prepared dishes, traditional flavours, and a taste of the countryside with every bite.",
    image: imageOne,
    imageAlt: "Restaurant menu showcase",
    primaryButton: {
      text: "Book a table",
      href: "https://web.dojo.app/create_booking/vendor/_i5WYdjKa2QID8JUwfbYHRllSmUSt-BCNny3N3KVHJg_restaurant"
    },
    secondaryButton: {
      text: "View sample menus",
      href: "/menu"
    }
  },
  {
    title: "Rooms",
    description: "Make yourself at home in one of our inviting rooms. Whether you're here for a quiet break, a celebration, or simply passing through, our accommodation blends rustic charm with modern comforts for a restful night's sleep.",
    image: imageTwo,
    imageAlt: "Comfortable guest room",
    primaryButton: {
      text: "Book a Room",
      href: "/rooms/book"
    },
    secondaryButton: {
      text: "Find out more",
      href: "/rooms"
    }
  }
];

---
<MainLayout content={{ title: "Home | The Red Cow", description: "Welcome to The Red Cow Nantwich - our treasured 15th Century Old Coaching Inn located in the historic town of Nantwich, in the heart of Cheshire." }} transparentNavigation={true}>
  <FeatureImage image={featureImage} />
  <div>
    <ReservationsBanner />
    <Separator />
    <WelcomeQuoteSection quote="Passionate about exceptional food, warm hospitality, and creating a welcoming space for all in the heart of Cheshire." />
    <Separator />
    <TwoImageSection cards={twoImageSectionCards} />
    <Separator />
    <AboutSection />
  </div>
</MainLayout>
