---
import MainLayout from "../../layouts/main.astro";

---
<style>
  
</style>
<MainLayout content={{ title: "Rooms" }}>
  <div class="page-container">
    <section class="rooms">
      <div class="section-inner">
        <p>Hello Worlds!</p>
      </div>
    </section>
  </div>
</MainLayout>
