---
import { Picture } from "astro:assets";
import MainLayout from "../../layouts/main.astro";
import TwoImageSection from "../../components/TwoImageSection.astro";
import Separator from "../../components/Separator.astro";
import RoomsQuoteSection from "../../components/QuoteSection.astro";

import roomsImage from "../../assets/redcow/images/rooms-feature-image.jpg";

// TwoImageSection Content
import roomOneImage from "../../assets/redcow/images/room-1.jpg";
import roomTwoImage from "../../assets/redcow/images/room-2.jpg";
import roomThreeImage from "../../assets/redcow/images/room-3.jpg";
import roomFourImage from "../../assets/redcow/images/room-4.jpg";

const roomCardsRow1 = [
  {
    title: "Red Angus",
    description: "The Red Angus which derives from the black Aberdeen Angus cattle of Scotland, and apart from its coat colour is identical to it. Twin En-suite Room.",
    image: roomOneImage,
    imageAlt: "Red Angus Room",
    primaryButton: {
      text: "Book Room",
      href: "/rooms/book"
    }
  },
  {
    title: "Limousin",
    description: "The Limousin is a French breed of “Red Cow” from the Limousin and March’s regions of France. Double En-Suite Room.",
    image: roomTwoImage,
    imageAlt: "Comfortable guest room",
    primaryButton: {
      text: "Book Room",
      href: "/rooms/book"
    }
  }
];

const roomCardsRow2 = [
  {
    title: "Corriente",
    description: "The Corriente cattle are a breed of Criollo cattle descended from Spanish cows brought to the Americas as early as 1493. Double En-Suite Room.",
    image: roomThreeImage,
    imageAlt: "Corriente Room",
    primaryButton: {
      text: "Book Room",
      href: "/rooms/book"
    }
  },
  {
    title: "Ankole-Watusi",
    description: "Modern US breed, derived from the Ankole group of Santa cattle breeds (East & Central Africa), characterised by very large horns. Double En-Suite Room.",
    image: roomFourImage,
    imageAlt: "Comfortable guest room",
    primaryButton: {
      text: "Book Room",
      href: "/rooms/book"
    }
  }
];

---
<style>
  .rooms-hero-image {
    filter: brightness(0.6);
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
  }

  @media screen (min-width: 768px) {
    .rooms-hero-image {
      height: auto;
      object-fit: unset;
      object-position: unset;
    }
  }

  .rooms-hero-content {
    position: absolute;
    top: 12rem;
    width: 100%;
    text-align: center;
    color: var(--background);
    h1 {
      font-family: 'PrimaryFont';
      color: var(--background);
      font-size: 3.5rem;
      font-weight: normal;
    }
  }

  .rooms-hero-container {
    max-height: 75vh;
    overflow: hidden;
  }
</style>
<MainLayout content={{ title: "Rooms" }} transparentNavigation={true}>
  <div class="rooms-hero-container">
    <Picture
      src={roomsImage}
      widths={[768, 1080, 1920]}
      formats={['avif', 'webp']}
      alt={""}
      loading="lazy"
      decoding="async"
      class="rooms-hero-image"
    />
  </div>
  <div class="rooms-hero-content">
    <h1>Rooms</h1>
    <p>At The Red Cow</p>
  </div>
  <div class="page-container">
    <RoomsQuoteSection quote="Four stunning en-suite B&B rooms named &amp; designed around the theme of “Red Cow” breeds across the world." />
    <Separator />
    <TwoImageSection cards={roomCardsRow1} />
    <TwoImageSection cards={roomCardsRow2} />
  </div>
</MainLayout>
