---
import { Picture } from "astro:assets";
import aboutImage from "@brand/images/about-image.jpg";
---
<style>
  .about-section h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 2rem;
  }

  .about-section p {
    margin-top: 1rem;
  }

  .about-section img {
    margin-top: 1rem;
  }

  .about-image {
    filter: brightness(0.6);
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
  }
</style>
<section class="about-section">
  <div>
    <div class="section-inner">
      <h2>About The Red Cow</h2>
      <p>
        The Red Cow is a stunning 16th Century Old coaching inn. We're located in the
        historic town of Nantwich, where we serve delicious food, great ale, wine & cocktails
        from our dedicated and passionate team
      </p>
    </div>
  </div>
</section>