---
import { Picture } from "astro:assets";
import aboutImage from "../assets/redcow/images/about-section-image-1.jpg";
---
<style>
  .about-section {
    background-color: var(--background-dark);
  }

  .about-section h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 2rem;
  }

  .about-section p {
    margin-top: 1rem;
  }

  .about-section img {
    margin-top: 1rem;
  }
</style>
<section class="about-section">
  <div class="section-inner">
    <h2>About The Red Cow</h2>
    <p>
      The Red Cow is a stunning 16th Century Old coaching inn. We're located in the
      historic town of Nantwich, where we serve delicious food, great ale, wine & cocktails
      from our dedicated and passionate team
    </p>
    <Picture
      src={aboutImage}
      widths={[480, 768, 1080, 1920]}
      formats={['avif', 'webp']}
      alt={""}
      loading="lazy"
      decoding="async"
    />
  </div>
</section>