---
---
<style>
  
  .banner div {
    background-color: var(--primary);
    padding: 0.25rem 1rem;

    &:hover {
      background-color: var(--secondary);
    }
  }

  .banner p {
    text-align: center;
    margin: 0;
    color: var(--background-light);
    font-family: 'SecondaryFont';
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
  }
</style>
<a href="#" class="banner">
  <div>
    <p>Festive menu now available!</p>
  </div>
</a>