---
import { PUBLIC_BRAND as brand } from "astro:env/client";
---
<style>
  iframe {
    height: 350px;
    border-radius: 10px;
  }
  @media (min-width: 768px) {
    iframe {
      height: 445px;
      width: 475px;
    }
  }
  @media (min-width: 1200px) {
    iframe {
      height: 600px;
      width: 675px;
    }
  }
  .iframe-container {
    display: flex;
    justify-content: center;
  }
</style>
<section class="reservations-iframe">
  <div class="section-inner iframe-container">
    <iframe
      src={`https://maximum-bookings.jameshealydesign.workers.dev/?tenant=${brand}&user-journey=widget`}
    />
  </div>
</section>