---
---
<div class="absolute left-1/2 -translate-x-[calc(50%+20px)] -mt-[70px] w-[205px] h-[215px] pt-[70px] text-center bg-background rounded-b-[50%] z-10">
  <a href="/" aria-label="Homepage">
    <img 
      src="http://redcownantwich.co.uk/wp-content/uploads/2021/03/red-cow-logo-black.svg" 
      alt="The Red Cow Nantwich logo"
      width="125"
      class="mx-auto mt-6"
    />
  </a>
</div>
<nav aria-label="Main navigation" class="hidden md:block">
  <ul class="flex justify-center gap-4 mx-auto max-w-4xl px-4 py-4 uppercase text-xs">
    <li class="nav-item"><a href="/dine">Dine</a></li>
    <li class="nav-item"><a href="/stay">Stay</a></li>
    <li class="nav-item mx-20">Logo</li>
    <li class="nav-item"><a href="/events">Events</a></li>
    <li class="nav-item"><a href="/contact">Contact</a></li>
  </ul>
</nav>
