---
import { mainNavigation, businessInfo } from "@/assets/redcow/content/data";

interface Props {
  transparent?: boolean;
}

const { transparent } = Astro.props;
---
<style>
  .main-nav {
    display: none;
    z-index: 10;
  }

  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 64rem;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 0.75rem;
  }

  .nav-item {
    color: var(--foreground);
    border-bottom: 1px solid transparent;
    text-align: center;
    &:hover {
      color: var(--primary);
      border-bottom: 1px solid var(--primary);
    }
    a {
      display: block;
      min-width: 3rem;
    }
  }

  .nav-logo {
    font-size: 2rem;
    margin: 0 1rem;
    &:hover {
      color: var(--primary);
    }
  }

  .main-nav-transparent {
    position: absolute;
    width: 100%;
    .nav-item {
      color: var(--background);
      &:hover {
        color: var(--secondary);
        border-bottom: 1px solid var(--secondary);
      }
    }
    .nav-logo {
      color: var(--background);
      &:hover {
        color: var(--secondary);
      }
    }
  }

  @media screen and (min-width: 768px) {
    .main-nav {
      display: block;
    }
  }
</style>

<nav aria-label="Main navigation" class:list={{ "main-nav": true, "main-nav-transparent": transparent }} >
  <ul class="nav-list">
    {mainNavigation.map((link, index) => (
      <>
        {index === 2 && (
          <li class="nav-logo">
            <a href="/">{businessInfo.logoText}</a>
          </li>
        )}

        <li class="nav-item">
          <a href={link.href}>{link.text}</a>
        </li>
      </>
    ))}
  </ul>
</nav>
