<style>
  .opening-hours {
    padding: 0 2rem;
  }

  .hours-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    margin-top: 2.5rem;
  }

  .day {
    font-weight: 700;
  }

  .times {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
    div {
      display: flex;
      flex-direction: row;
      gap: 0.25rem;
      p {
        margin: 0;
      }
    }
  }

  @media (min-width: 768px) {
    .opening-hours h2 {
      text-align: center;
    }

    .hours-grid {
      grid-template-columns: repeat(2, 1fr);
    }

    .times {
      justify-content: center;
      gap: 0.5rem;
    }

    .times div {
      justify-content: center;
    }

    .hours-grid h4 {
      text-align: center;
    }
  }

  @media (min-width: 1024px) {
    .hours-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
</style>
<section class="opening-hours">
  <div class="section-inner">
    <h2>Opening Hours</h2>
    <div class="hours-grid">
      <div>
        <h4 class="day">Monday</h4>
        <div class="times">
          <div>
            <p><strong>Bar</strong></p>
            <p>Closed</p>
          </div>
          <div>
            <p><strong>Food</strong></p>
            <p>Closed</p>
          </div>
        </div>
      </div>
      <div>
        <h4 class="day">Tue - Thur</h4>
        <div class="times">
          <div>
            <p><strong>Bar</strong></p>
            <p>12 noon - 11pm</p>
          </div>
          <div>
            <p><strong>Food</strong></p>
            <p>12 noon - 8pm</p>
          </div>
        </div>
      </div>
      <div>
        <h4 class="day">Fri - Sat</h4>
        <div class="times">
          <div>
            <p><strong>Bar</strong></p>
            <p>12 noon - Late</p>
          </div>
          <div>
            <p><strong>Food</strong></p>
            <p>12 noon - 9pm</p>
          </div>
        </div>
      </div>
      <div>
        <h4 class="day">Sunday</h4>
        <div class="times">
          <div>
            <p><strong>Bar</strong></p>
            <p>12 noon - 6pm</p>
          </div>
          <div>
            <p><strong>Food</strong></p>
            <p>12 noon - 4pm</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>