---
---
<style>
  .separator {
    background-color: var(--secondary-lightest);
    flex-shrink: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .separator[data-orientation="horizontal"] {
    height: 1px;
    width: 100%;
  }

  .separator[data-orientation="vertical"] {
    width: 1px;
    height: 100%;
  }
</style>
<div class="separator" role="none" data-orientation="horizontal" data-slot="separator"></div>
