---
import { Picture } from "astro:assets";
import imageOne from "../assets/redcow/images/two-image-section-1.jpg";
import imageTwo from "../assets/redcow/images/two-image-section-2.jpg";
---
<style>
  .two-image-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .image-card-content p {
    margin-top: 1rem;
  }

  .image-card-content img {
    margin-top: 1rem;
    width: 100%;
    height: auto;
  }

  @media (min-width: 768px) {
    .two-image-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>

<section class="two-image-section">
  <div class="section-inner">
    <div class="two-image-grid">
      <div class="image-card">
        <div class="image-card-content">
          <h3>Rooms</h3>
          <p>Staying at The Red Cow</p>
          <Picture
            src={imageOne}
            widths={[480, 768, 1080, 1920]}
            formats={['avif', 'webp']}
            sizes="100vw"
            alt={""}
            loading="lazy"
            decoding="async"
          />
        </div>
      </div>
      <div class="image-card">
        <div class="image-card-content">
          <h3>Menu</h3>
          <p>Dining at The Red Cow</p>
          <Picture
            src={imageTwo}
            widths={[480, 768, 1080, 1920]}
            formats={['avif', 'webp']}
            sizes="100vw"
            alt={""}
            loading="lazy"
            decoding="async"
          />
        </div>
      </div>
    </div>
  </div>
</section>