---
---
<style>
  .welcome-quote-section {
    padding: 2rem;
  }
  .welcome-quote {
    font-family: 'Heading';
    font-style: italic;
    text-align: center;
  }

  @media (min-width: 768px) {
    .welcome-quote {
      font-size: 2rem;
    }
    .welcome-quote-section {
      padding: 4rem 2rem;
    }
  }
</style>
<section class="welcome-quote-section">
  <div class="section-inner">
    <blockquote class="welcome-quote">
      "Passionate about exceptional food, warm hospitality, and creating a welcoming space for all in the heart of Cheshire."
    </blockquote>
  </div>
</section>
