---
import "../assets/global.css";
import "@brand/styles/theme.css";
import favicon from "@brand/favicon.svg";

const { content } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noai, noimageai, noarchive">
    <meta name="description" content={content.description}>
    <link rel="icon" type="image/svg+xml" href={favicon.src} />
    <link rel="sitemap" href="/sitemap-0.xml" />
    <title>{content.title} | The Red Cow</title>
  </head>
  <body>
    <slot /> 
  </body>
</html>
