---
import "../styles/global.css";
import Navigation from "../components/wrappers/Navigation";
import Footer from "../components/Footer.astro";
const { content } = Astro.props;
const brand = process.env.BRAND || 'redcow';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href={`/src/styles/themes/${brand}.css`} />
    <title>{content.title}</title>
  </head>
  <body>
    <Navigation client:load />
    <slot />
    <Footer />
  </body>
</html>
