---
import "../assets/global.css";
import "../assets/redcow/styles/theme.css";

import MobileNavigation from "../components/wrappers/MobileNavigation";
import DesktopNavigation from "../components/DesktopNavigation.astro";
import Footer from "../components/Footer.astro";

const { content } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{content.title}</title>
  </head>
  <body>
    <MobileNavigation client:media="(max-width: 767px)" />
    <DesktopNavigation />
    <slot />
    <Footer />
  </body>
</html>
