---
import FeatureImage from "../../components/FeatureImage.astro";
import MainLayout from "../../layouts/main.astro";

import eventsFeatureImage from "@brand/images/rooms-feature-image.jpg"; // TODO: Get new image of event space
---
<style>
  a {
    border-bottom: 1px solid var(--foreground);
    &:hover {
      color: var(--primary);
      border-bottom: 1px solid var(--primary);
    }
  }
  
</style>

<MainLayout content={{ title: "Events | Byre Suite", description: "The Red Cow can host many different events using its Byre events space. Get in touch to find out more." }} transparentNavigation="true">
  <FeatureImage title="Byre Suite" text="Private Events Space @ The Red Cow" image={eventsFeatureImage} />
  <div class="page-container">
    <section class="about-heading">
      <div class="section-inner">
        <div>
          <h1>The Byre Suite</h1>
          <p>The Byre Suite is our private and truly unique event space, designed to bring people together in comfort and style. Whether you're hosting an intimate gathering, a milestone celebration, or a professional event, the Byre offers the perfect balance of charm and sophistication. With its warm character, beautiful décor, and inviting atmosphere, it provides a memorable backdrop for any occasion.</p>
          <p>To discuss in more detail, please contact us on <a href="tel:01270297785">01270 297 785</a> or email us at <a href="mailto:info@redcownantwich.co.uk">info@redcownantwich.co.uk</a></p>
        </div>
      </div>
    </section>
  </div>