---
import { Picture } from "astro:assets";
import MainLayout from "../../layouts/main.astro";
import Separator from "../../components/Separator.astro";
import menuImage from "@brand/images/menu-image.jpg";

---
<style>
  .menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    a {
      width: 100%;
      height: 100%;
      padding: 0 1rem;
      border: 1px solid var(--secondary);
      display: flex;
      align-items: center;
      justify-self: center;
      text-align: center;
      &:hover {
        background-color: var(--secondary);
        color: var(--background);
      }
      p {
        font-family: 'SecondaryFont', sans-serif;
        width: 100%;
      }
    }
  }

  @media screen and (min-width: 480px) {
    .menu-container {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (min-width: 768px) {
    .menu-heading h1 {
      text-align: center;
    }
  }

  .menu-disclaimer {
    text-align: center;
    font-size: 1.5rem;
  }

  .menu-image {
    filter: brightness(0.6);
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
  }
</style>
<MainLayout content={{ title: "Menu", description: "Explore the diverse and delicious menus at The Red Cow Nantwich. From hearty pub classics to seasonal specials, our offerings are crafted with fresh, local ingredients to satisfy every palate." }}>
  <div class="page-container">
    <section class="menu-heading">
      <div class="section-inner">
        <div>
          <h1>Menus</h1>
          <p>We believe great food starts with the freshest ingredients. Our chefs create delicious dishes that celebrate the best of each season, with menus that change regularly to bring you new flavours and the finest produce available. Whether you're joining us for a hearty meal or something lighter, you'll always find something fresh, tasty, and made with care.</p>
        </div>
      </div>
    </section>
  </div>
  <div>
    <div class="feature-image-container">
      <Picture
        src={menuImage}
        widths={[768, 1080, 1920]}
        formats={['avif', 'webp']}
        alt={"Freshly cooked beef burger with fries and an ice cold beer."}
        loading="lazy"
        decoding="async"
        class="menu-image"
      />
    </div>
  </div>
  <section class="menu-disclaimer">
    <div class="section-inner">
      <p>Our menu changes frequently. Below are sample menus.</p>
    </div>
  </section>
  <Separator />
  <div class="page-container">
    <section class="menus">
      <div class="section-inner">
        <div class="menu-container">
          <a href="/menus/christmas.pdf">
            <p>Christmas Day Menu</p>
          </a>
          <a href="/menus/festive.pdf">
            <p>Festive Menu</p>
          </a>
          <a href="/menus/breakfast.pdf">
            <p>Brekfast Menu</p>
          </a>
          <a href="/menus/lunch.pdf">
            <p>Lunch Menu</p>
          </a>
          <a href="/menus/main.pdf">
            <p>Evening Menu</p>
          </a>
          <a href="/menus/sunday.pdf">
            <p>Sunday Lunch Menu</p>
          </a>
          <a href="/menus/drinks.pdf">
            <p>Drinks Menu</p>
          </a>
          <a href="/menus/wine.pdf">
            <p>Wine Menu</p>
          </a>
        </div>
      </div>
    </section>
    <div>
  </div>
</MainLayout>
